.QPushButton{
	background-color:rgba(255, 255, 255, 0);
	qproperty-iconSize: 23px 23px;
}

QPushButton[accessibleName="shuffle"]:hover{
	image:url(:/McAudioPlayer/data/icon/shuffle_hover.png);
}

QPushButton[accessibleName="repeat"]:hover{
	image:url(:/McAudioPlayer/data/icon/repeat_hover.png);
}

QPushButton[accessibleName="single"]:hover{
	image:url(:/McAudioPlayer/data/icon/single_hover.png);
}